*.pyc
.DS_Store
.coverage
nohup.out
PyIron.log
pyiron.log
.idea/
inspectionProfiles/
_build/
apidoc/
.ipynb_checkpoints/
test_times.dat
notebooks/*
!notebooks/*.ipynb
pyiron_contrib/atomistics/stacking_fault_annni/#*
pyiron_contrib/atomistics/stacking_fault_annni/.#*
pyiron_contrib/atomistics/stacking_fault_annni/ANNNI*
pyiron_contrib/atomistics/stacking_fault_annni/*~

